header{
    background-color: rgba(34, 127, 219, 0.534);
    padding: 0;
    margin: 1em;
    }
    div>h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 3px white;
    margin-top: 0.5em;
    }
    .redes>a>img{
        width:3%;
        position:absolute;
        margin-left: 68em;
        margin-top: -2.5em;
        text-shadow: 2px 2px 3px rgb(26, 228, 161)(206, 152, 152);
    }
.Regresar>a{
        text-decoration: none;
        font-size: 25px;
        position: absolute;
        margin-top: -1.5em;
        color: black;
        text-shadow: 2px 2px 3px green;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body{
        background-image: url(../aerovionics/analista.png);
        background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position-x: center;
        padding: 0;
        background-position: absolute;
        width: 100%;
        margin: 0;
    }

    .analista{
        color: black;
        font-size: 30px;
        position: absolute;
       margin-left: 17em;
       margin-top: 5em;
     }
