header{
background-color: rgba(34, 127, 219, 0.534);
padding: 0;
margin: 1em;
}
div>h1{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
text-shadow: 2px 2px 3px white;
margin-top: 0.5em;
}
.redes>a>img{
    width:3%;
    position:absolute;
    margin-left: 68em;
    margin-top: -2.5em;
    text-shadow: 2px 2px 3px rgb(26, 228, 161)(206, 152, 152);
}
.menu>a{
position:absolute;
margin-top: -1.5em;
margin-left: 8em;
font-size: 20px;
color: black;
text-shadow: 2px 2px 3px green;
text-decoration: none;
}
body{
    background-image: url(../aerovionics/sistema.png);
    background-position-x: center;
    padding: 0;
    width: 100%;
    text-align: left;
    background-position: center;
    margin: 0;
}
.p>p{
    text-align: left;
    margin-top: 5em;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 1em;
    left: 2em;
    color: black;
    text-shadow: 2px 2px 3px white(1, 1, 32);
    LINE-HEIGHT:35px;
    text-align: center;
}